@tailwind base;
@tailwind components;
@tailwind utilities;

.jsScroll {
  transition: 0.6s;
  transform: translateY(10px);
  opacity: 0;
}

.jsScroll.jsActive {
  transition: 0.6s;
  transform: translateY(0px);
  opacity: 1;
}
